body {
  background-color: rgb(245, 245, 247);
}

#navbar {
  height: 45px;
  z-index: 1022;
  background-color: rgba(240, 240, 240, 0.8);
  transition: background-color .35s ease, height .35s ease;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}
