img {
  pointer-events: none;
}
#smallLogo {
  font-size: 19px;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 24px;
  transition: all .3s ease;
}
#title {
  width: 817px;
  color: #1d1d1f;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}
#subTitle {
  width: 653px;
  color: #1d1d1f;
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 80px;
}
#copyInvitationCodeBtn {
  cursor: pointer;
  margin-left: 5px;
  line-height: 18px;
  --bs-btn-color: #26A862;
  -webkit-text-stroke: 1px;
  --bs-btn-hover-color: #0F8144;
}
.hadCopyTip {
  opacity: 0;
  border-radius: 3px;
  pointer-events: none;
  background-color: #1d1d1f;
  transition: all 0.3s ease 0s;
}
@keyframes shimmer {
  from { background-position: 200% 0; }
  to { background-position: -200% 0; }
}
.loadingImgContainer {
  aspect-ratio: 16/9;
  background-size: 200% 100% !important;
  animation: shimmer 2s linear infinite;
  background: #fafafa linear-gradient(to right, #fafafa 0%, #e8e8ed 20%, #fafafa 40%, #fafafa 100%);
}
.imgCaptionContainer {
  gap: 24px;
  max-width: 653px;
  margin-top: 16px;
  margin-bottom: 44px;
  transition: all .35s ease;
}
.imgCaption {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.reloadImgBtn {
  width: 24px;
  height: 24px;
  color: #161617;
  font-size: 13px;
  margin-top: -4px;
  background-color: #f5f5f7;
  -webkit-text-stroke: 0.6px;
  --bs-btn-hover-bg: #e8e8e8;
}
#topSectionContainer {
  gap: 24px;
  max-width: 653px;
  margin-top: 80px;
  margin-bottom: 44px;
  transition: all .35s ease;
}
#topSectionTag {
  color: #f5f5f7;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 8px;
  line-height: 18px;
  border-radius: 16px;
  background-color: #6e6e73;
}
#topSectionDate {
  color: #6e6e73;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin-left: 12px;
}
.shareBtn {
  font-size: 18px;
  cursor: pointer;
  --bs-btn-color: #6e6e73;
  --bs-btn-hover-color: #1d1d1f;
  --bs-link-color-rgb: 110, 110, 115;
  --bs-link-hover-color-rgb: 29, 29, 31;
}
.invitationContainer {
  padding-left: 0;
  padding-right: 0;
  max-width: 653px;
  transition: all .35s ease;
}
.invitationHr {
  color: #d7d7d7;
  margin: 44px 0;
}
#learnMore {
  padding: 52px 0;
  background-color: #fbfbfd;
}
#learnMoreText {
  color: #6e6e73;
  font-size: 17px;
  font-weight: 450;
  line-height: 23px;
  margin-bottom: 18px;
}
#learnMoreBtn {
  color: #161617;
  font-size: 14px;
  font-weight: 450;
  border-radius: 30px;
  transition: all .3s ease;
  background-color: #e8e8ed;
}
#learnMoreBtn:hover {
  background-color: #d2d2d7;
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #title {
    width: 692px;
    font-size: 38px;
    line-height: 52px;
  }
  #subTitle {
    width: 576px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 64px;
  }
  .imgCaptionContainer {
    max-width: 576px;
    margin-top: 12px;
    margin-bottom: 36px;
  }
  #topSectionContainer {
    max-width: 576px;
    margin-top: 62px;
    margin-bottom: 36px;
  }
  #topSectionTag {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 6px;
    line-height: 16px;
  }
  #topSectionDate {
    font-size: 14px;
    margin-left: 8px;
    line-height: 19px;
  }
  .invitationContainer {
    max-width: 576px;
  }
  .invitationHr {
    margin: 36px 0;
  }
  #learnMore {
    padding: 48px 0;
  }
  #learnMoreText {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 14px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #smallLogo {
    margin-top: 60px;
  }
  #title {
    width: 87.5%;
    max-width: 414px;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  #subTitle {
    width: 87.5%;
    max-width: 414px;
    margin-bottom: 52px;
  }
  .imgCaptionContainer {
    width: 87.5%;
    margin-bottom: 32px;
  }
  #topSectionContainer {
    width: 87.5%;
    margin-top: 52px;
    margin-bottom: 32px;
  }
  .invitationContainer {
    width: 87.5%;
  }
  .invitationHr {
    margin: 32px 0;
  }
  #learnMore {
    padding: 44px 0;
  }
}
