#smallLogo {
  font-size: 19px;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 24px;
  transition: all .3s ease;
}
#title {
  width: 817px;
  color: #1d1d1f;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}
#subTitle {
  width: 653px;
  color: #1d1d1f;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 80px;
}
#learnMore {
  padding: 52px 0;
  background-color: #fbfbfd;
}
#learnMoreText {
  color: #6e6e73;
  font-size: 17px;
  font-weight: 450;
  line-height: 23px;
  margin-bottom: 18px;
}
#learnMoreBtn {
  color: #161617;
  font-size: 14px;
  font-weight: 450;
  border-radius: 30px;
  transition: all .3s ease;
  background-color: #e8e8ed;
}
#learnMoreBtn:hover {
  background-color: #d2d2d7;
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #title {
    width: 692px;
    font-size: 38px;
    line-height: 52px;
  }
  #subTitle {
    width: 576px;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 64px;
  }
  #learnMore {
    padding: 48px 0;
  }
  #learnMoreText {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 14px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #smallLogo {
    margin-top: 60px;
  }
  #title {
    width: 87.5%;
    max-width: 414px;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  #subTitle {
    width: 87.5%;
    max-width: 414px;
    margin-bottom: 52px;
  }
  #learnMore {
    padding: 44px 0;
  }
}
