img {
  pointer-events: none;
}
#smallLogoContainer {
  margin-top: 80px;
  margin-bottom: 24px;
  transition: all .35s ease;
}
#titleContainer {
  width: 980px;
  transition: all .35s ease;
}
#title {
  width: 83.33%;
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 20px;
}
#subTitleContainer {
  width: 980px;
  transition: all .35s ease;
}
#subTitle {
  font-size: 22px;
  font-weight: 400;
  color: rgb(29,29,31);
  line-height: 31px;
  width: 653px;
  margin-bottom: 80px;
}
@keyframes shimmer {
  from { background-position: 200% 0; }
  to { background-position: -200% 0; }
}
.loadingImgContainer {
  aspect-ratio: 16/9;
  background-size: 200% 100% !important;
  animation: shimmer 2s linear infinite;
  background: #fafafa linear-gradient(to right, #fafafa 0%, #e8e8ed 20%, #fafafa 40%, #fafafa 100%);
}
.imgCaptionContainer {
  max-width: 653px;
  padding: 0 20px 0;
  margin-bottom: 27px;
  transition: all .35s ease;
}
.imgCaption {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333733333;
}
.reloadImageBtn {
  width: 24px;
  height: 24px;
  color: #161617;
  font-size: 13px;
  margin-top: -4px;
  margin-left: 24px;
  background-color: #f5f5f7;
  -webkit-text-stroke: 0.6px;
  --bs-btn-hover-bg: #e8e8e8;
}
#learnMore {
  padding: 52px 0;
  background-color: #fbfbfd;
}
#learnMoreText {
  color: #6e6e73;
  font-size: 17px;
  font-weight: 450;
  line-height: 23px;
  margin-bottom: 18px;
}
#learnMoreBtn {
  color: #161617;
  font-size: 14px;
  font-weight: 450;
  border-radius: 30px;
  transition: all .3s ease;
  background-color: #e8e8ed;
}
#learnMoreBtn:hover {
  background-color: #d2d2d7;
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #titleContainer {
    width: 692px;
  }
  #title {
    width: 100%;
    font-size: 48px;
    line-height: 52px;
  }
  #subTitleContainer {
    width: 576px;
  }
  #subTitle {
    font-size: 19px;
    line-height: 28px;
    width: auto;
    margin-bottom: 64px;
  }
  .imgCaptionContainer {
    max-width: 616px;
    margin-bottom: 24px;
  }
  #learnMore {
    padding: 48px 0;
  }
  #learnMoreText {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 14px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #smallLogoContainer {
    margin-top: 60px;
    margin-bottom: 24px;
  }
  #titleContainer,
  .imgCaptionContainer {
    width: 87.5%;
  }
  #title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
  }
  #subTitleContainer {
    width: 100%;
  }
  #subTitle {
    width: 87.5%;
    margin-bottom: 52px;
  }
  #learnMore {
    padding: 44px 0;
  }
}
