#PageContainer {
  width: 816.66px;
  margin-top: 70px;
  margin-bottom: 50px;
  transition: all .35s ease;
}
#termsTitle {
  height: 52px;
  font-size: 42px;
  font-weight: 500;
  lie-height: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21.6px;
  color: rgb(29, 29, 31);
}
#termsSummary {
  font-size: 17px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
  color: rgb(29, 29, 31);
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #PageContainer {
    width: 576.66px;
    margin-top: 50px;
  }
  #termsTitle {
    height: 44px;
    font-size: 34px;
    lie-height: 44px;
    margin-bottom: 18px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #PageContainer {
    width: 87.5%;
    margin-left: 0;
    margin-top: 35px;
  }
  #termsTitle {
    height: 39px;
    margin-left: 0;
    font-size: 28px;
    lie-height: 39px;
    margin-bottom: 14.4px;
  }
  #termsSummary {
    margin-left: 0;
    margin-bottom: 39px;
  }
}
