#archiveFilterContainer {
  width: 980px;
  padding: 32px 0px;
}
#archivePageContainer {
  width: 980px;
}
#archiveFilterYearBtn {
  height: 40px;
  max-width: 255px;
  margin-right: 6px;
  border-radius: 7px;
}
#archiveFilterMonthBtn {
  height: 40px;
  max-width: 255px;
  margin-left: 6px;
  margin-right: 16px;
  border-radius: 7px;
}
#archiveFilterYearBtnIcon,
#archiveFilterMonthBtnIcon {
  font-size: 10px;
  color: rgb(134, 134, 139);
}
#archiveFilterYearList,
#archiveFilterMonthList {
  top: 40px;
  padding: 8px;
  overflow: scroll;
  max-height: 334px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  --bs-border-color: rgb(245,245,247);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}
.archiveFilterLink {
  padding: 8px;
  color: rgb(29, 29, 31);
}
.archiveFilterLink:hover {
  color: rgb(0, 102, 204);
}
.archivePagePostDateTitle {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  margin: 52px 0 16px;
  color: rgb(29, 29, 31);
}
.archivePagePost {
  padding: 32px 0px;
  --bs-border-color: rgb(210, 210, 215);
}
.archivePagePostImg {
  width: 295px;
  border-radius: 16px;
  background-color: rgb(250, 250, 250);
}
.archivePagePostTextContainer {
  margin-left: 32px;
}
.archivePagePostTitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin: 8px 0px 12px;
  color: rgb(29, 29, 31);
}
.archivePagePostDate {
  font-size: 13px;
  font-weight: 450;
  line-height: 20px;
  color: rgb(110, 110, 115);
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #archiveFilterContainer,
  #archivePageContainer {
    width: 692px;
  }
  .archivePagePostDateTitle {
    font-size: 22px;
    line-height: 28px;
    margin: 48px 0 16px;
  }
  .archivePagePost {
    padding: 24px 0px;
  }
  .archivePagePostImg {
    width: 264px;
  }
  .archivePagePostTextContainer {
    margin-left: 24px;
  }
  .archivePagePostTitle {
    font-size: 19px;
    line-height: 25px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #archiveFilterContainer {
    width: 87.5%;
    padding: 24px 0px;
  }
  #archivePageContainer {
    width: 87.5%;
  }
  .archivePagePostDateTitle {
    font-size: 19px;
    line-height: 25px;
    margin: 44px 0 16px;
  }
  .archivePagePostImg {
    width: 106px;
    border-radius: 7px;
  }
  .archivePagePostTitle {
    font-size: 15px;
    line-height: 21px;
    margin: 4px 0px 8px;
  }
  .archivePagePostDate {
    line-height: 18px;
  }
}
