#errorPageContainer {
  width: 980px;
  margin-top: 92px;
  margin-bottom: 140px;
}
#errorPageTitle {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 54px;
  color: rgb(29, 29, 31);
}
#errorPageSearchForm {
  width: 490px;
  border-radius: 4px;
  margin-bottom: 24px;
  --bs-body-bg: rgba(0, 0, 0, 0);
  border-color: rgb(214, 214, 214);
}
#errorPageSearchInput {
  font-size: 17px;
  color: rgb(51, 51, 51);
  padding-top: 14px !important;
  padding-right: 16px !important;
}
#errorPageSearchInput::-webkit-search-cancel-button,
#errorPageSearchInput::-webkit-search-results-button {
  -webkit-appearance: none;
}
#errorPageSitemapLink {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(0, 102, 204);
}
#errorPageSitemapLink:hover {
  text-decoration: underline;
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #errorPageContainer {
    width: 692px;
    margin-top: 90px;
    margin-bottom: 120px;
  }
  #errorPageTitle {
    font-size: 40px;
    margin-bottom: 45px;
  }
}
/* 螢幕小於 735 */
@media only screen and (max-width: 735px) {
  #errorPageContainer {
    width: 87.5%;
    margin-top: 45px;
    margin-bottom: 60px;
  }
  #errorPageTitle {
    font-size: 32px;
    max-width: 330px;
    margin-bottom: 35px;
  }
  #errorPageSearchForm {
    width: auto;
  }
}
