#footerBrand {
  font-size: 14px;
  color: rgb(81, 81, 84);
}
#footerBrand:hover {
  color: rgb(29, 29, 31);
}
.breadcrumbItem {
  font-size: 12px;
  color: rgb(66, 66, 69);
}
#wideScreenFooter {
  font-size: 12px;
  line-height: 16px;
}
/* 螢幕小於 833 */
@media only screen and (max-width: 833px) {
  #wideScreenFooter {
    display: none;
  }
}
