/* 首頁容器 */
#homeContainer {
  width: auto;
  max-width: 980px;
  padding-top: 40px;
  transition: all .35s ease;
}
/* 標題「最新文章」*/
#homeNewestPostTitle {
  font-size: 28px;
  font-weight: 450;
  margin-bottom: 24px;
  color: rgb(29, 29, 31);
}
/* 文章 hover 時放大圖片 */
#homeNewestPost:hover #homeNewestPostImg, {
  transform: scale(1.03);
}
/* 最新文章 */
#homeNewestPost {
  border-radius: 16px;
  transition: all .35s ease;
}
/* 最新文章的圖片容器 */
#homeNewestPostImgContainer {
  min-height: 362px;
  background-color: rgb(250, 250, 250);
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  /* 首頁容器 */
  #homeContainer {
    max-width: 692px;
  }
  /* 標題「最新文章」*/
  #homeNewestPostTitle {
    font-size: 25px;
    margin-bottom: 16px;
  }
  /* 最新文章的圖片容器 */
  #homeNewestPostImgContainer {
    min-height: 255px;
  }
}
/* 螢幕小於 767.98 */
@media only screen and (max-width: 767.98px) {
  /* 首頁容器 */
  #homeContainer {
    width: 87.5%;
    max-width: 366px;
    padding-top: 24px;
  }
  /* 標題「最新文章」*/
  #homeNewestPostTitle {
    font-size: 21px;
  }
  /* 最新文章 */
  #homeNewestPost {
    border-radius: 12px;
  }
  /* 最新文章的圖片容器 */
  #homeNewestPostImgContainer {
    min-height: 158px;
  }
}
