#labelPageContainer {
  max-width: 1020px;
  padding: 40px 20px 0px;
}
#labelPageTitle {
  font-size: 32px;
  margin-top: 8px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 24px;
  color: rgb(29, 29, 31);
}
/* 螢幕小於 767.98 */
@media (max-width: 767.98px) {
  #labelPageContainer {
    max-width: 732px;
  }
  #labelPageTitle {
    font-size: 28px;
    margin-top: 4px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}
/* 螢幕小於 575.98 */
@media (max-width: 575.98px) {
  #labelPageContainer {
    max-width: 406px;
    padding: 24px 20px 0px;
  }
  #labelPageTitle {
    font-size: 24px;
    line-height: 28px;
  }
}
