/* 最上方導覽列 */
#mainNav {
  height: 44px;
  z-index: 1022;
  line-height: 44px;
  transition: all .35s ease;
  background-color: rgb(243, 243, 243);
}
/* 最上方導覽列中的網站標題 */
.navbar-brand {
  font-weight: 480;
  padding: 0px 10px;
  --bs-navbar-brand-font-size: 20px;
  --bs-navbar-brand-color: rgb(48, 48, 48);
  --bs-navbar-brand-hover-color: black;
}
/* 寬螢幕最上方導覽列中的主題連結容器 */
#wideScreenNavLinks {
  font-size: 16px;
  font-weight: 300;
}
/* 寬螢幕最上方導覽列中的主題連結 */
.nav-link {
  --bs-nav-link-color: rgb(48, 48, 48);
  --bs-nav-link-hover-color: black;
  --bs-nav-link-padding-x: 10px;
  --bs-nav-link-padding-y: 0;
}
/* 寬螢幕最上方導覽列中的搜尋表單 */
#wideScreenSearchForm {
  height: 44px;
  display: none;
}
/* 寬螢幕最上方導覽列中的搜尋框 */
#wideScreenSearchBar {
  padding-left: 1px;
  color: rgb(51, 51, 51);
}
#wideScreenSearchBar::placeholder {
  font-size: 20px;
  height: 20.87px;
  font-weight: 300;
  color: rgb(110, 110, 115);
}
#wideScreenSearchBar::-webkit-search-cancel-button,
#wideScreenSearchBar::-webkit-search-results-button {
  -webkit-appearance: none;
}
/* 小螢幕最上方導覽列中的選單按鈕 */
#hamburgerBtn {
  font-size: 26px;
  --bs-btn-color: rgb(48, 48, 48);
  --bs-btn-hover-color: black;
}
/* 螢幕大於 768：寬螢幕導覽連結顯示 */
@media (min-width: 768px) {
  #mainNav {
    height: 44px;
  }
}
/* 螢幕小於 768：寬螢幕導覽連結隱藏 */
@media (max-width: 767.98px) {
  #mainNav {
    height: 48px;
  }
}
