/* 文章頂部區塊 */
#blogPostTopSection {
  max-width: 693px;
  padding: 64px 20px 0px;
  transition: all .35s ease;
}
.blogPostHeadline {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 52px 0px 16px;
}
.blogPost {
  font-size: 17px;
  font-weight: 300;
  max-width: 693px;
  line-height: 27px;
  padding: 0px 20px 0px;
  transition: all .35s ease;
}
p {
  margin-bottom: 27px;
}
/* 文章中的程式碼區塊 */
.codeBlock {
  color: black;
  padding: 8px 14px; 
  line-height: 24px;
  margin-bottom: 27px;
  border-radius: 15px;
  background-color: rgb(245, 245, 247);
}
/* 文章中程式碼裡的文法關鍵字（粉色）*/
.syntaxKeyword {
  color: rgb(173, 61, 164);
}
/* 文章中程式碼裡的文法標題（紫色）*/
.syntaxTitle {
  color: rgb(112, 61, 170);
}
/* 文章中程式碼裡的註解（灰色）*/
.syntaxComment {
  color: rgb(112, 127, 140);
}
.blogPostImgContainer {
  padding: 0px;
  max-width: 980px;
  margin-bottom: 27px;
  transition: all .35s ease;
}
.blogPostImg {
  border-radius: 10px;
}
#blogPostBottomSection {
  max-width: 693px;
  padding: 0px 20px;
  transition: all .35s ease;
}
#blogPostShareTitle {
  font-size: 18px;
  font-weight: 450;
  margin-top: 44px;
  line-height: 23px;
  margin-bottom: 8px;
  color: rgb(29, 29, 31);
}
.blogPostShareBtn {
  color: rgb(110, 110, 115);
}
.blogPostShareBtn:hover {
  color: rgb(29, 29, 31);
}
#blogPostTitle {
  font-size: 45px;
  font-weight: 550;
  margin: 20px 0px;
  line-height: 52px;
  color: rgb(29, 29, 31);
}
#blogPostTopic {
  padding: 36px;
  margin: 44px 0px;
  border-radius: 10px;
  background-color: rgb(245, 245, 247);
}
#blogPostTopicTitle {
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  color: rgb(29, 29, 31);
}
#blogPostTopicLink {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 30px;
  color: rgb(29, 29, 31);
}
#blogPostTopicLink:hover {
  background-color: rgb(232, 232, 237) !important;
}
#blogPostBottomHr {
  margin: 52px 0px;
  color: rgb(210, 210, 215);
}
#contactsContainer {
  max-width: 693px;
  padding: 0px 20px;
  transition: all .35s ease;
}
#contactsTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 28px;
  color: rgb(29, 29, 31);
}
.contactsName {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 4px;
  color: rgb(29, 29, 31);
}
#underContactsHr {
  margin: 52px 0px;
  color: rgb(210, 210, 215);
}
#blogPostNewestPostContainer {
  max-width: 693px;
  padding: 0px 20px;
  margin-bottom: 48px;
  transition: all .35s ease;
}
#blogPostNewestPostTitle {
  font-size: 21px;
  font-weight: 450;
  line-height: 28px;
  color: rgb(29,29,31);
}
.blogPostNewestPost {
  padding: 32px 0px;
}
.blogPostNewestPost:hover .blogPostNewestPostImg {
  transform: scale(1.03);
}
.blogPostNewestPost:hover .blogPostNewestPostImgContainer {
  background-color: rgb(213,213,213);
}
.blogPostNewestPostImgContainer {
  height: 96px;
  min-width: 171px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}
.blogPostNewestPostTextContainer {
  padding-left: 24px;
}
.blogPostNewestPostTextTitle {
  font-size: 17px;
  font-weight: 550;
  line-height: 23px;
  color: rgb(29, 29, 31);
}
#learnMore {
  padding: 52px 0px;
  background-color: rgb(251 ,251, 253);
}
#learnMoreText {
  font-size: 17px;
  font-weight: 450;
  line-height: 23px;
  margin-bottom: 18px;
  color: rgb(110, 110, 115);
}
#learnMoreBtn {
  font-size: 14px;
  font-weight: 450;
  border-radius: 30px;
  color: rgb(22, 22, 23);
  transition: all .3s ease;
  background-color: rgb(232, 232, 237);
}
#learnMoreBtn:hover {
  background-color: rgb(210, 210, 215);
}
/* 螢幕小於 1068 */
@media only screen and (max-width: 1068px) {
  #blogPostTopSection,
  #blogPostBottomSection {
    max-width: 616px;
  }
  #blogPostTitle {
    font-size: 37px;
    line-height: 44px;
    margin: 20px 0px 16px;
  }
  .blogPostHeadline {
    font-size: 21px;
    line-height: 25px;
    margin: 48px 0px 16px;
  }
  .blogPost {
    font-size: 15px;
    font-weight: 300;
    max-width: 616px;
    line-height: 24px;
    padding: 0px 20px 0px;
  }
  p,
  .blogPostImgContainer,
  .codeBlock {
    margin-bottom: 24px;
  }
  .blogPostImgContainer {
    max-width: 692px;
  }
  #blogPostShareTitle {
    font-size: 16px;
    margin-top: 36px;
  }
  #blogPostTopic {
    margin: 36px 0px;
    padding: 32px;
  }
  #blogPostTopicTitle {
    font-size: 15px;
    line-height: 21px;
  }
  #blogPostBottomHr {
    margin: 48px 0px;
  }
  #contactsContainer {
    max-width: 616px;
    margin-bottom: 32px;
  }
  #contactsTitle {
    font-size: 21px;
    line-height: 25px;
  }
  .contactsName {
    font-size: 16px;
    line-height: 21px;
  }
  #underContactsHr {
    margin: 48px 0px;
  }
  #blogPostNewestPostContainer {
    max-width: 616px;
    margin-bottom: 32px;
  }
  #blogPostNewestPostTitle {
    font-size: 19px;
    line-height: 25px;
  }
  .blogPostNewestPostTextTitle {
    font-size: 15px;
    line-height: 21px;
  }
  #learnMore {
    padding: 48px 0px;
  }
  #learnMoreText {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 14px;
  }
}
/* 螢幕小於 734 */
@media only screen and (max-width: 734px) {
  #blogPostTopSection {
    max-width: 402px;
    padding: 40px 20px 0px;
  }
  .blogPostHeadline {
    margin: 44px 0px 16px;
  }
  .blogPost,
  #blogPostBottomSection {
    max-width: 402px;
  }
  .blogPostImgContainer {
    max-width: 454px;
  }
  #blogPostTitle {
    font-size: 29px;
    line-height: 36px;
  }
  #blogPostShareTitle {
    margin-top: 32px;
  }
  #blogPostTopic {
    margin: 32px 0px;
    padding: 24px;
  }
  #blogPostBottomHr {
    margin: 44px 0px;
  }
  #contactsContainer {
    max-width: 402px;
    margin-bottom: 24px;
  }
  #underContactsHr {
    margin: 44px 0px;
  }
  #blogPostNewestPostContainer {
    max-width: 402px;
    margin-bottom: 24px;
  }
  .blogPostNewestPost {
    padding: 28px 0px;
  }
  .blogPostNewestPostImgContainer {
    min-width: 93px;
    height: 93px;
    border-radius: 12px;
  }
  .blogPostNewestPostTextContainer {
    padding-left: 16px;
  }
  #learnMore {
    padding: 44px 0px;
  }
}
/* 螢幕小於 454 */
@media only screen and (max-width: 454px) {
  .blogPostImg {
    border-radius: 0px;
  }
}
