/* 上方導覽列二 */
#secondNav {
  height: 50px;
  transition: all .4s ease;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}
/* 上方導覽列二容器 */
#secondNavContainer {
  padding: 0px 19px;
  max-width: 1024px;
  transition: all .35s ease;
}
/* 寬螢幕上方導覽列二右方的「熱門主題」按鈕 */
#wideScreenHotTopicBtn {
  font-size: 11px;
  font-weight: 300;
  padding: 2px 0px;
  margin-right: 52px;
  --bs-btn-color: rgb(29, 29, 31);
  --bs-btn-hover-color: rgb(0, 102, 204);
}
/* 小螢幕上方導覽列二右方的「熱門主題」按鈕 */
#smallScreenHotTopicBtn {
  font-size: 21px;
  padding: 2px 0px;
  --bs-btn-color: rgb(29, 29, 31);
  --bs-btn-hover-color: rgb(0, 102, 204);
}
/* 螢幕大於 768：上方導覽列二變矮 */
@media (min-width: 768px) {
  #secondNav {
    height: 48px;
  }
  #secondNavContainer {
    padding: 0px 22px;
  }
}
/* 螢幕小於 768：上方導覽列二長高 */
@media (max-width: 767.98px) {
  #secondNav {
    height: 52px;
  }
  #secondNavContainer {
    padding: 0px 16px;
  }
}
